body {
  font-family: sans-serif;
  background-color: pink;
}

.mains {
  margin: 0 auto;
  padding:  5%;
  width: 70%;
  height: 50vh;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  text-align: center;
}
.other {
  margin: 0 auto;
  padding:  5%;
  width: 70%;
  height: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  text-align: center;
  display: none;
}
.fa {
  cursor: pointer;
  font-size: 20px;
  margin-left: 0.4em;
}

/*#pause {
  display: none;
}*/

#time {
  font-size: 5em;
  
}
.notes {
display: flex;
justify-content: right;
align-items: right;
position: absolute;
bottom: 0.5em;
float: left;
}
#plus{
cursor: pointer;
}
#minus{
cursor: pointer;
}
.row{
display: grid;
margin-bottom: 22px;
}
label {
text-align: left;
}
input {
background-color: transparent;
border-bottom: 1px solid rgb(70, 69, 69);
border-top-style: none;
border-left-style: none;
border-right-style: none;
border-bottom-width: 100%;
}
.my-title {
font-size: large !important;


}

input[type=text]:focus {
margin-left: 5px;
border: 1px solid black;
height: 2em;
resize: none;
}
button {
background-color: rgba(255, 255, 255, .35);
border: none;
width: auto;
border-radius: 7px;
cursor: pointer;
height: 3em;
}


